/*CSS reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	/*background-color: #333333;*/
	/*background-image: url("../images/background.jpg");*/
	
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;

}

/*target the elements container*/
.container{
	width: 500px;
	margin: 0 auto; /*centers the element horizontally*/
	text-align: center;
}
/*end container*/
/* targets the html element h1 */
h1 {
	color: #a422f0; /* this change the color of h1 elemet */
	background-color: rgba(0,0,0,0.75);
	text-transform: uppercase;
	font-size: 50px;
	letter-spacing: 3px;
	font-family: 'Big Shoulders Text', cursive;
	margin-bottom: 30px;
	border-radius: 10px

}
/* end of h1 styling */

/*start of h2 styling*/

h2 {
	color: #a422f0;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-family: 'Big Shoulders Text', cursive;
	background-color: rgba(0,0,0,0.75);
	margin-bottom: 30px;
	padding: 5px;
	border-radius: 10px
}
/*end of h2 styling*/

/* targets the html element with the class attribute bio*/
.bio {
	color: white;
	font-size: 18px;
	font-family: 'Big Shoulders Text', cursive;
	line-height: 25px;
	background-color: rgba(0,0,0,0.75);
	border-radius: 10px;

}

/*end of bio*/

/*targets the html attribute id with a value me*/
#me {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border-width: 5px;
	border-color: #e9e1ed;
	border-style: solid;
	margin-top: 25px;
	margin-bottom: 25px;
}
/*end of me*/
